{{>navbar}}
<h2 class="m-3">list</h2>
<table class="table table-striped table-bordered container mx-auto m-5">
    <thead>
    <tr>
        <th>no.</th>
        <th>ID</th>
        <th><label for="insurance-checkbox">Insurance</label></th>
        <th><label for="gas-checkbox">Gas</label></th>
        <th><label for="damaged-checkbox">Damaged</label></th>
        <th><label for="fourbyfour-checkbox">4x4</label></th>
        {{#if edit}}
            <th>Edit record</th>
        {{else}}
            <th>Delete record</th>
        {{/if}}
    </tr>
    </thead>
    <tbody>
    {{#each records}}
        <tr class="fw-bold">
            <td>{{increment @index}}</td>
            <td>{{_id}}</td>
            {{#if ../edit}}
                <!-- Currently inline edited record -->
                {{#if editThisRecord }}
                    {{> car-edit-table-row insurance=insurance gas=gas damaged=damaged fourbyfour=fourbyfour}}
                {{else}}
                <!-- Record with an edit button -->
                <!-- Form starts here, so all edited fields (in partial) are included. It is closed below. -->
                    <form action="/handleCarEditList" method="POST">
                    {{> car-table-row insurance=insurance gas=gas damaged=damaged fourbyfour=fourbyfour}}
                {{/if}}
            {{else}}
                <!-- Record with a delete button. Form is included below. -->
                {{> car-table-row insurance=insurance gas=gas damaged=damaged fourbyfour=fourbyfour}}
            {{/if}}
            <!-- Delete or edit button -->
            {{#unless editThisRecord}}
                <td class="col-sm-2">
                {{#if ../edit}}
                        <input type="hidden" name="id" value="{{_id}}">
                        <button type="submit" class="btn btn-warning container-fluid">Edit</button>
                    </form>
                {{else}}
                    <form action="/handleDeleteCar" method="POST">
                        <input type="hidden" name="id" value="{{_id}}">
                        <button type="submit" class="btn btn-danger container-fluid">Delete</button>
                    </form>
                {{/if}}
                </td>
            {{/unless}}
        </tr>
    {{/each}}
    </tbody>
</table>
