<td class="
    {{colorClassForBoolean insurance}}
">{{formatBoolean insurance}}</td>
<td class="
    {{colorClassForBoolean gas}}
">{{formatBoolean gas}}</td>
<td class="
    {{colorClassForBoolean damaged}}
">{{formatBoolean damaged}}</td>
<td class="
    {{colorClassForBoolean fourbyfour}}
">{{formatBoolean fourbyfour}}</td>