<td class="
    {{#if insurance}}
        text-success
    {{else}}
        text-danger
    {{/if}}
">{{insurance}}</td>
<td class="
    {{#if gas}}
        text-success
    {{else}}
        text-danger
    {{/if}}
">{{gas}}</td>
<td class="
    {{#if fourbyfour}}
        text-success
    {{else}}
        text-danger
    {{/if}}
">{{fourbyfour}}</td>